{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
    <table class="table">
        <h1 class="text-center"> All messages</h1>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Nickname', 'p.userName') }}</th>
            <th> {{ knp_pagination_sortable(pagination, 'Email', 'p.email') }} </th>
            <th>{{ knp_pagination_sortable(pagination, 'Created At', 'p.createdAt') }}</th>
            <th> Message </th>
        </tr>
    {% for message in pagination %}
    <tr>
       <td>{{ message.username }}</td>
       <td>{{ message.email }}</td>
       <td>{{ message.createdAt|date('Y-m-d') }}</td>
        <td>{{ message.text }}</td>

    </tr>
    {% endfor %}
</table>
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
    </div>
        </div>
    </div>
{% endblock %}
